<footer class="mt-auto bg-light text-center">
  <hr class="w-75 mx-auto" />
  <p class="text-center text-body-secondary">
    <span style="font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif"
      >&copy;</span
    >
    2025 <a href="/" class="text-decoration-none text-reset">RiffQuest</a>
  </p>
</footer>
