# .env.example

# ================== MusicBrainz API Configuration ==================
# Format: ApplicationName/Version ( ContactEmail )
# Example: RiffQuest/1.0.0 ( your-email@gmail.com )
MUSIC_BRAINZ_USER_AGENT=YourAppName/Version ( your-email@example.com )
# ===================================================================

# =================== LastFm API Configuration ====================
LASTFM_API_KEY=your_last_fm_api_key_here
# =================================================================

# =================== MongoDB Atlas Configuration ===================
MONGO_USER=your_mongo_username_here
MONGO_PASS=your_mongo_password_here
MONGO_DB=your_database_name_here
MONGO_CLUSTER=your_cluster_name_here
MONGO_HOST=your_cluster_host_here
# ===================================================================

# ====================== Application Base URLs ======================
BASE_URL_DEV=http://127.0.0.1:3000
BASE_URL_PROD=https://your-production-domain.com
# ===================================================================

